/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* variables */
:root {
  --white: rgb(255, 255, 255);
  --almost-black: rgb(10, 10, 10);
  --light-gray: rgba(243, 237, 237, 0.5);
  --gray: rgba(94, 94, 94, 0.233);
  --dark-gray: rgba(48, 48, 48, 0.623);
  --light-red: rgb(255, 137, 126);
  --red: rgb(241, 54, 36);
  --dark-red: rgb(161, 34, 22);
  --light-blue: rgb(126, 160, 255);
  --blue: rgb(36, 108, 241);
  --dark-blue: rgb(31, 22, 161);
}

/* fix class */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 10px;
}
.overflow {
  overflow: auto;
  overflow-x: hidden;
}
.height-35 {
  max-height: 35rem;
  min-height: 20rem;
}
.width-100 {
  width: 100%;
}
.left- {
  position: relative;
  left: -10px;
}
.justify-right {
  display: flex;
  justify-content: end;
}

/* fix block */
h1 {
  font-family: "Roboto Condensed", sans-serif;
  size: 1em;
  margin: 0;
}
h2 {
  font-family: "Roboto", sans-serif;
  size: 0.1rem;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/*header*/
.header {
  height: 3rem;
  background-color: var(--light-gray);
}
.header_nav {
  height: 100%;
  width: 28rem;
  display: flex;
  margin: auto;
}
.nav_element {
  margin: auto 2em auto 0.2em;
}
.nav_a {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
}

/*section*/
.section {
  margin: 1rem auto 1rem auto;
  padding: 1rem 0 2rem 1rem;
  box-shadow: 0px 0px 11px 0px #e6e6e6;
  min-width: 28rem;
  width: 28em;
  height: fit-content;
}
.section-div {
  padding-top: 10px;
  padding-right: 26px;
  margin-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

/* displaychat */
.border-left {
  border-left: solid 2px var(--gray);
  padding: 0 26px 5px 10px;
}
.msg-author {
  max-width: 80%;
  margin: 10px 5px 5px 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--dark-gray);
}
.msg-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 5px;
  margin: 0 0 0.3rem 0;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  height: 1.5rem;
}
.info-element {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: var(--dark-gray);
  display: flex;
  align-items: center;
}


/* post_msg */
.post-msg {
  display: flex;
  justify-content: space-between;
  padding: 0 0 5px 0;
}
.post-div {
  width: 18rem;
}
.post-input {
  width: 100%;
  justify-content: end;
  margin-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.input-textarea {
  height: 5rem;
}
.post-label {
  width: 8rem;
}

/* btn */
.btn {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}

.delete-btn {
  background-color: var(--light-red);
  color: var(--white);
}
.delete-btn:hover {
  background-color: var(--red);
}
.delete-btn:active {
  background-color: var(--dark-red);
}

.validate-btn {
  background-color: var(--light-blue);
  color: var(--white);
}
.validate-btn:hover {
  background-color: var(--blue);
}
.validate-btn:active {
  background-color: var(--dark-blue);
}

/*footer----------------*/
.footer {
  display: flex;
  margin-top: auto;
  height: 3rem;
  background-color: var(--light-gray);
}
.footer_div {
  margin: auto;
  flex-direction: column;
}
.footer_div i {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}
.footer_div a {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}
